{% extends 'base.html' %}

{% block title %}Restauracja - Dodaj Stolik{% endblock %}

{% block content %}
    <h2 style="margin-top: 20px; text-align: center;">Dodaj Stolik</h2>
    <form method="post" style="text-align: center;">
        <label for="ilosc_osob">Ilość osób:</label>
        <input type="number" id="ilosc_osob" name="ilosc_osob" required style="margin-left: 10px;">
        <br><br>
        <input type="submit" value="Dodaj" style="padding: 10px 20px; background-color: #333; color: #fff; border: none; cursor: pointer;">
    </form>
{% endblock %}