{% extends "base.html" %}

{% block content %}
    <h2 style="margin-top: 20px; text-align: center;">Dodaj danie na wynos</h2>
    <form action="{{ url_for('na_wynos') }}" method="post" style="text-align: center;">
        <label for="nazwa" style="display: block; margin-top: 10px;">Nazwa dania:</label>
        <input type="text" id="nazwa" name="nazwa" required style="margin-top: 5px; padding: 5px;"><br>

        <label for="cena" style="display: block; margin-top: 10px;">Cena:</label>
        <input type="number" id="cena" name="cena" step="0.01" min="0" required style="margin-top: 5px; padding: 5px;"><br>

        <label for="adres" style="display: block; margin-top: 10px;">Adres:</label>
        <input type="text" id="adres" name="adres" required style="margin-top: 5px; padding: 5px;"><br>

        <input type="submit" value="Zatwierdź" style="margin-top: 20px; padding: 10px 20px; background-color: #333; color: #fff; border: none; cursor: pointer;">
    </form>
{% endblock %}