{% extends "base.html" %}

{% block content %}
    <h2>Dodaj danie na wynos</h2>
    <form action="{{ url_for('na_wynos') }}" method="post">
        <label for="nazwa">Nazwa dania:</label><br>
        <input type="text" id="nazwa" name="nazwa" required><br>

        <label for="cena">Cena:</label><br>
        <input type="number" id="cena" name="cena" step="0.01" min="0" required><br>

        <label for="adres">Adres:</label><br>
        <input type="text" id="adres" name="adres" required><br>

        <input type="submit" value="Zatwierdź">
    </form>
{% endblock %}