{% extends "base.html" %}

{% block title %}Wolne stoliki - Restauracja{% endblock %}

{% block content %}
    {% for danie_na_wynos in result %}
        <div>
            <p>Nazwa dania: {{ danie_na_wynos.nazwa }}</p>
            <p>Cena: {{ danie_na_wynos.cena }} zł</p>
            <p>Adres dostawy: {{ danie_na_wynos.adres }}</p>
            <form action="{{ url_for('wyswietl_na_wynos') }}" method="post">
            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="danie_na_wynos_id" value="{{ danie_na_wynos.id }}">
            <input type="submit" value="Usuń danie">
            </form>

        </div>
    {% endfor %}
{% endblock %}