{% extends "base.html" %}

{% block title %}Wolne stoliki - Restauracja{% endblock %}

{% block content %}
    {% for danie_na_wynos in result %}
        <div style="margin-top: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <p><strong>Nazwa dania:</strong> {{ danie_na_wynos.nazwa }}</p>
            <p><strong>Cena:</strong> {{ danie_na_wynos.cena }} zł</p>
            <p><strong>Numer stolika:</strong> {{ danie_na_wynos.nr_stolika }}</p>
            <form action="{{ url_for('wyswietl_na_miejscu') }}" method="post" style="margin-top: 10px;">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="danie_na_wynos_id" value="{{ danie_na_wynos.id }}">
                <input type="submit" value="Usuń danie" style="padding: 5px 10px; background-color: #333; color: #fff; border: none; cursor: pointer;">
            </form>
        </div>
    {% endfor %}
{% endblock %}